{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Список пользователей{% endblock %}

    {% block content %}
         <div class="container">
  <h2>Телефоный справочник сменного персонала</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Должность</th>
        <th>Телефона</th>
        <th>Email</th>
        <th>Титул №</th>
         <th>Месторасположение</th>
      </tr>
    </thead>
     {% for person in servicePhone %}
      <tbody>
            <tr>
                <td>{{person.name }}</td>
                <td>{{person.telephone }}</td>
                <td>{{person.email }}</td>
                 <td>{{person.room.titul.number }}</td>
                 <td>{{person.room.titul.name }}</td>
            </tr>
      </tbody>
      {% endfor %}
  </table>
</div>
    {% endblock %}
