{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Список принтеров для обслживания{% endblock %}

    {% block content %}
         <div class="container">
  <h2>Список принтеров для обслживания</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Заявка</th>
          <th>Дата</th>
          <th>Статус</th>

      </tr>
    </thead>
     {% for app in printer_app %}
      <tbody>
            <tr>
{#                {% url 'shedule_app_detile' pk=app.printerShedule.pk %}#}
                <td><a href="#">{{ app.printerShedule }}</a></td>
                
                <td>{{app.date }}</td>
                <td>{{app.status }}</td>
            </tr>
      </tbody>
      {% endfor %}
  </table>
</div>
    {% endblock %}
