{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Домашняя страница{% endblock %}

    {% block content %}

      <div class="wrap-card">
            <div class="container">
                <div class="row">

                    <div class="card" style="width: 14rem;">
                       <a href="{% url 'print' %}"> <img src="{% static 'img/printer_.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'print' %}">Печать </a></p>
                            </div>
                    </div>

                    <div class="card" style="width: 14rem;">
                     <a href="{% url 'workspace' %}"><img src="{% static 'img/pc_.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'workspace' %}">Рабочее место</a></p>
                            </div>
                    </div>
                </div>
                    </div>
            </div>

    {% endblock %}