{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Пользователи{% endblock %}

    {% block content %}

      <div class="wrap-card">
            <div class="container">
                <div class="row">

                    <div class="card" style="width: 14rem;">
                       <a href="{% url 'list_person' %}"> <img src="{% static 'img/checklist.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'list_person' %}">Список <br> пользователей</a></p>
                                   <small> Общее колличество: {{ object_list }}</small>
                            </div>
                    </div>

                    <div class="card" style="width: 14rem;">
                       <a href="#"> <img src="{% static 'img/phone.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="#">Сервисные номера </a></p>

                            </div>
                    </div>



                </div>
                    </div>
            </div>

    {% endblock %}