{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'login.html' %}
    {% endblock %}

        {% block title %}
            Добро пожаловать
        {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
               <h4>Добро пожаловать на сайт InvWeb </h4>
            </div>
              <div class="col"><p>Если у Вас есть логин и пароль тогда необходимо  <a class="logo_link" href="{% url 'login' %}">авторизироваться</a>  на сайте</p></div>
        </div>
    {% endblock %}
    {% block footer %}

    {% endblock %}