{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'login.html' %}
    {% endblock %}

        {% block title %}
            Добро пожаловать
        {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
               <h4>Добро пожаловать на сайт InvWeb </h4>
            </div>

            <p>Если Вам необходимо узнать информацию о сотруднике предпрития перейдите по ссылке ниже или кликните по иконке</p>


             <div class="wrap-card">
            <div class="container">
                <div class="row">


                     <div class="card" style="width: 14rem;">
                       <a href="{% url 'login' %}"> <img src="{% static 'img/log.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'login' %}">Войти</a></p>

                            </div>
                    </div>

                    <div class="card" style="width: 14rem;">
                       <a href="{% url 'phone_person' %}"> <img src="{% static 'img/contacts.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'phone_person' %}">Контакты</a></p>

                            </div>
                    </div>
                </div>
                    </div>
            </div>

        </div>



    {% endblock %}
    {% block footer %}

    {% endblock %}