{% extends 'base.html' %}
{% load static %}

{% block  header%}
    {% include 'header.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="margin_detile">
                    <h3>Информация:</h3>
                    <p><strong>Название модели принтера: </strong>  {{ pmd.name }}</p>
                    <p><strong>Производитель: </strong>  {{ pmd.firm.name }}</p>
                    <p><strong>Тип: </strong>  {{ pmd.type.name }}</p>
                </div>
                </div>
                <div class="col-sm">
                     {%  if pmd.image %}
                        <img  class="img-printer_detile" src="{{ pmd.image.url }}"  alt="...">
                     {% else %}
                        <img  src="{% static 'img/print.png' %}" class="card-img" alt="...">
                     {% endif %}
                </div>
        </div>
    </div>

    {% endblock %}
