{% extends 'base.html' %}
{% load static %}

  {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col">
                     <div class="wrap-form">
                        {% csrf_token %}
                         <label>Категория</label>
                         <p>{{ form.category }}</p>
                         <label>Модель</label>
                         <p>{{ form.printerModel }}</p>
                         <label>Серийный номер</label>
                         <p>{{ form.serialNumber }}</p>
                          <label>Ip-адрес</label>
                         <p>{{ form.ip }}</p>
                          <label>Статус</label>
                         <p>{{ form.status }}</p>
                          <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
                    </div>
                </div>

                 <div class="col">
                     <div class="wrap-form">
                          <label>Установленый картридж 1</label>
                         <p>{{ form.status }}</p>
                          <label>Установленый картридж 2</label>
                         <p>{{ form.status }}</p>
                          <label>Установленый картридж 3</label>
                         <p>{{ form.status }}</p>
                          <label>Установленый картридж 4</label>
                         <p>{{ form.status }}</p>


                    </div>
                </div>



            </div>
        </div>


    {% endblock %}

    {% block footer %}

    {% endblock %}