{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Подробная информация о принтере{% endblock %}

    {% block content %}
        <br>
        <div class="container">
            <div class="row">
                <div class="col">

    

                    <h5>Информация о принтере с серийным номером:<strong>  {{ printer.serialNumber }}</strong></h5>
                        <p><strong>Имя принтера:</strong> {{ printer.name }}</p>
                        <p><strong>Ip-адресс:</strong> {{ printer.ip }}</p>
                        <p><strong>Модель принтера:</strong> {{ printer.printerModel.name }}</p>
                        <p><strong>Производитель:</strong> {{ printer.printerModel.firm.name }}</p>
                        <p><strong>Статус:</strong> {{ printer.status.name }}
                        <h3>Месторасположение</h3>
                         <p><strong>Отдел:</strong> {{ printer.location.department.name }}</p>
                        <p><strong>Титул:</strong> {{ printer.location.titul.name }}</p>
                        <p><strong>Кабинет:</strong> {{ printer.location.number }}
                        
                </div>

                <div class="col-sm">
                     {%  if printer.printerModel.image %}
                        <img  class="img-printer_detile" src="{{ printer.printerModel.image.url }}"  alt="...">
                     {% else %}
                        <img  src="{% static 'img/print.png' %}" class="card-img" alt="...">
                     {% endif %}
                </div>


            </div>
        </div>

    {% endblock %}
