{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Удаление модели принтера{% endblock %}

    {% block content %}

    <div class="col-6"><a href="{% url 'printer_model_list' %}">Назад</a></div>
         <div class="container">
            <div class="row"> 
                <div class="wrap_delete">
                <form method="POST">
                    <div class="form-group">
                        {% csrf_token %}

                    </div>
                    
                 <p class="message">Вы действительно хотите модель принтера {{ pmd.name }}</p>
                   
                     <button  type="submit" class="btn btn-outline-secondary">Удалить</button>
        
                </form>
                </div>


            </div>
        </div>



    {% endblock %}
