{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Список пользователей{% endblock %}

    {% block content %}
         <div class="container">
  <h2>Список пользователей</h2>
             <a href="#">Добавить</a>
  <table class="table">
    <thead>
      <tr>
        <th>Модель принтера</th>
      </tr>
    </thead>
     {% for p in printer %}
      <tbody>
            <tr>
                <td> {{p.printerModel }}</td>

            </tr>
      </tbody>
      {% endfor %}
  </table>
</div>
    {% endblock %}
