{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}
         <h1>Редактировать модель принтера</h1>
        <div class="container">
            <div class="row">

                <form method="post">
                    <div class="form-group">

                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-outline-secondary">Сохранить</button>

                </form>

            </div>
        </div>


    {% endblock %}