{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Системные блоки{% endblock %}

    {% block content %}
         <div class="wrap-card">
            <div class="container">
                <div class="row">

                    <div class="card" style="width: 14rem;">
                     <a href="{% url 'pc_model' %}"><img src="{% static 'img/model_icon.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'pc_model' %}">Модели</a></p>
                            </div>
                    </div>


                    <div class="card" style="width: 14rem;">
                      <a href="{% url 'pc_list' %}">  <img src="{% static 'img/checklist.png' %}" class="card-img-top" alt="..."> </a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'pc_list' %}">Список</a></p>
                            </div>
                    </div>


                </div>
                    </div>
            </div>
    {% endblock %}
