{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block title %}Рабочие места{% endblock %}

    {% block content %}
         <div class="wrap-card">
            <div class="container">
                <div class="row">

                    <div class="card" style="width: 14rem;">
                     <a href="{% url 'equipment' %}"><img src="{% static 'img/ob.png' %}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <p class="card-text"><a class="link_for_img" href="{% url 'equipment' %}">Оборудование</a></p>
                            </div>
                    </div>


                    <div class="card" style="width: 14rem;">
                      <a href="{% url 'acts' %}">  <img src="{% static 'img/docum.png' %}" class="card-img-top" alt="..."> </a>
                            <div class="card-body">

                                <p class="card-text"><a class="link_for_img" href="{% url 'acts' %}">Акты передачи</a></p>
                            </div>
                    </div>


                         <div class="card" style="width: 14rem;">
                      <a href="{% url 'acts' %}">  <img src="{% static 'img/workspace_119871 (1).png' %}" class="card-img-top" alt="..."> </a>
                            <div class="card-body">
                              <br>  <p class="card-text"><a class="link_for_img" href="{% url 'acts' %}">Рабочее место</a></p>
                            </div>
                    </div>


                </div>
                    </div>
            </div>
    {% endblock %}
